\.git

StortSpelProjekt/build/
StortSpelProjekt/bin/
StortSpelProjekt/*.bat

**ERROR.txt

**.sln
**.vcxproj
**.user
**.filters
**.Tlog
**.vs
**bin/
**bin-int/
StortSpelProjekt/Sandbox/imgui.ini

StortSpelProjekt/Game/imgui.ini

*.ini

StortSpelProjekt/Vendor/Resources/Models/Female/

StortSpelProjekt/Vendor/Resources/Models/PlayerHuman/

StortSpelProjekt/Vendor/Resources/Models/IgnoredModels/

StortSpelProjekt/Vendor/Resources/Audio/IgnoredAudio/