StortSpelProjekt/x64/Release/*.obj
StortSpelProjekt/x64/Release/*.iobj
StortSpelProjekt/x64/Release/*.ipdb
StortSpelProjekt/x64/Release/*.pch
StortSpelProjekt/x64/Release/*.txt

StortSpelProjekt/x64/Debug/*.obj
StortSpelProjekt/x64/Debug/*.iobj
StortSpelProjekt/x64/Debug/*.ipdb
StortSpelProjekt/x64/Debug/*.pch
StortSpelProjekt/x64/Debug/*.tlog
StortSpelProjekt/x64/Debug/*.ilk
StortSpelProjekt/x64/Debug/*.tlog
StortSpelProjekt/x64/Debug/*.sarif
StortSpelProjekt/x64/Debug/*.txt

StortSpelProjekt/*.user

*.tlog
*.log
*.idb
*.pdb
*.exe
*.db
*.*~
\.vs
\.git
*.opendb

